---
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";
import Base from "../../layouts/Base.astro";
import ReviewBooksIcon from "../../components/icons/ReviewsBooksIcon.astro";
import ReviewMoviesIcon from "../../components/icons/ReviewsMoviesIcon.astro";
import ReviewTvIcon from "../../components/icons/ReviewsTvIcon.astro";
import ReviewMusicIcon from "../../components/icons/ReviewsMusicIcon.astro";
import booksList from "../../data/reviews/books.json";
import moviesList from "../../data/reviews/movies.json";
import tvList from "../../data/reviews/tvshows.json";
import musicList from "../../data/reviews/music.json";

const reviews = await getEntry("reviews", "reviews");

let title = reviews.data.title;
let description = reviews.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="review">
      Reviews of things I've watched, read, or played. Thanks to <a
        href="https://quickreviews.app">Quick Reviews</a
      > by <a href="https://isfeeling.social/@matt#.">Matt Birchler</a>! Each of
      these is a random selection from my review categories. Click the images or
      the links below to see all my reviews in each category.
    </p>
    <p>
      <ul>
        <li>
          <a href="/reviews/books/1"><ReviewBooksIcon /></a><a
            href="/reviews/books/1">Book Reviews</a
          >
        </li>
        <li>
          <a href="/reviews/movies/1"><ReviewMoviesIcon /></a><a
            href="/reviews/movies/1">Movie Reviews</a
          >
        </li>
        <li>
          <a href="/reviews/tv/1"><ReviewTvIcon /></a><a href="/reviews/tv/1"
            >TV Show Reviews</a
          >
        </li>
        <li>
          <a href="/reviews/music/1"><ReviewMusicIcon /></a><a
            href="/reviews/music/1">Music Reviews</a
          >
        </li>
      </ul>
    </p>
    <div class="review">
      <h3>Random Reviews From Each Category</h3>
      <p>
        {
          (() => {
            // Get a random book from the list
            const randomIndex = Math.floor(Math.random() * booksList.length);
            const randomBook = booksList[randomIndex];

            return (
              <a href="/reviews/books/1">
                <Image
                  src={
                    import(`../../assets/images/posts/${randomBook.review}.png`)
                  }
                  alt={`${randomBook.alttext}`}
                />
              </a>
            );
          })()
        }
        {
          (() => {
            // Get a random book from the list
            const randomIndex = Math.floor(Math.random() * moviesList.length);
            const randomMovie = moviesList[randomIndex];

            return (
              <a href="/reviews/movies/1">
                <Image
                  src={
                    import(
                      `../../assets/images/posts/${randomMovie.review}.png`
                    )
                  }
                  alt={`${randomMovie.alttext}`}
                />
              </a>
            );
          })()
        }
        {
          (() => {
            // Get a random book from the list
            const randomIndex = Math.floor(Math.random() * tvList.length);
            const randomShow = tvList[randomIndex];

            return (
              <a href="/reviews/tv/1">
                <Image
                  src={
                    import(`../../assets/images/posts/${randomShow.review}.png`)
                  }
                  alt={`${randomShow.alttext}`}
                />
              </a>
            );
          })()
        }
        {
          (() => {
            // Get a random book from the list
            const randomIndex = Math.floor(Math.random() * musicList.length);
            const randomMusic = musicList[randomIndex];

            return (
              <a href="/reviews/music/1">
                <Image
                  src={
                    import(
                      `../../assets/images/posts/${randomMusic.review}.png`
                    )
                  }
                  alt={`${randomMusic.alttext}`}
                />
              </a>
            );
          })()
        }
      </p>
    </div>
  </article>
</Base>
<style>
  ul {
    list-style: none;
    font-size: 1.5em;
    margin: 2em 0;
  }
</style>
