---
import { getEntry, render } from "astro:content";
import Base from "../../../layouts/Base.astro";
import { modifieddate } from "../../../components/utilities/DateFormat.js";
import CalendarFillIcon from "../../../components/icons/CalendarFillIcon.astro";
import Pagination from "@philnash/astro-pagination";
import { Image } from "astro:assets";
import booksList from "../../../data/reviews/books.json";
import site from "../../../data/site.json";

const books = await getEntry("books", "books");

export async function getStaticPaths({ paginate }) {
  let bookList = Array.from(booksList).sort((a, b) =>
    a.alttext.localeCompare(b.alttext),
  );
  return paginate(bookList, {
    pageSize: site.reviews.paginationSize,
  });
}
const { page } = Astro.props;

let title = books.data.title;
let description = books.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="review">
      {books.data.description}<span class="mx-4">•</span><a href="/reviews"
        >Back to Reviews Page</a
      >
    </p>
    <div class="text-[0.8em] text-dates font-bold mb-6">
      <CalendarFillIcon size="1em" fill="var(--dates)" />
      <time datetime={books.data.date}>
        <a href={`/${books.id}`} class="text-dates"
          >Last updated {modifieddate(books.data.date)}</a
        >
      </time>
    </div>
    <div class="review">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-[95%] my-10 mx-auto"
      >
        {
          page.data.map((book) => (
            <>
              <span hidden>{`${book.alttext}`}</span>
              <a href={`/images/posts/${book.review}.jpg`} class="block">
                <Image
                  src={
                    import(`../../../assets/images/posts/${book.review}.png`)
                  }
                  alt={`${book.alttext}`}
                  class="review-image"
                />
              </a>
            </>
          ))
        }
      </div>
    </div>
    {
      page.lastPage > 1 && (
        <Pagination
          page={page}
          urlPattern="/reviews/books/{}"
          firstPageUrl="/reviews/books/1"
          windowSize={3}
        />
      )
    }
    <p class="review">
      <a href="/reviews">Back to Reviews Page</a>
    </p>
  </article>
</Base>

<style>
  .review-image {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    margin: 0 !important;
  }
</style>
