---
import Base from "../../layouts/Base.astro";
import Read from "../../components/Read.astro";
import Pagination from "@philnash/astro-pagination";
import { getCollection } from "astro:content";
import site from "../../data/site.json";
import RssIcon from "../../components/icons/RssIconReads.astro";

export async function getStaticPaths({ paginate }) {
  let reads = await getCollection("reads");

  reads = reads.sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  );

  return paginate(reads, {
    pageSize: site.posts.paginationSize,
  });
}
const { page } = Astro.props;

const title = site.title;
const description = `Weekly Reads Page ${page.currentPage}`;
---

<Base title={title} description={description}>
  <article>
    <div>
      <p>
        <a href="/reads/rss.xml"
          >Weekly Reeds RSS Feed <RssIcon
            fill="var(--accent-orange-darker)"
          /></a
        >
      </p>
    </div>
    <section aria-label="Post list" data-pagefind-ignore>
      {
        page.data.map((read, index) => {
          return <Read read={read} />;
        })
      }
      {
        page.lastPage > 1 && (
          <Pagination
            page={page}
            urlPattern="/reads/{}"
            firstPageUrl="/reads/1"
            windowSize={3}
          />
        )
      }
    </section>
  </article>
</Base>
<style>
  p a {
    color: var(--brand);
  }
  p a:hover {
    color: var(--accent-orange-darker);
    text-decoration-color: var(--accent-orange-darker);
  }
</style>
