---
import { getEntry, render } from "astro:content";
import Base from "../../../layouts/Base.astro";
import { modifieddate } from "../../../components/utilities/DateFormat.js";
import CalendarFillIcon from "../../../components/icons/CalendarFillIcon.astro";
import Pagination from "@philnash/astro-pagination";
import { Image } from "astro:assets";
import moviesList from "../../../data/reviews/movies.json";
import site from "../../../data/site.json";

const movies = await getEntry("movies", "movies");

export async function getStaticPaths({ paginate }) {
  let movieList = Array.from(moviesList).sort((a, b) =>
    a.alttext.localeCompare(b.alttext),
  );
  return paginate(movieList, {
    pageSize: site.reviews.paginationSize,
  });
}
const { page } = Astro.props;

let title = movies.data.title;
let description = movies.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="now">
      {movies.data.description}<span class="bullet">•</span><a href="/reviews"
        >Back to Reviews Page</a
      >
    </p>
    <div class="time">
      <CalendarFillIcon />
      <time datetime={movies.data.date}>
        <a href={`/${movies.id}`}
          >Last updated {modifieddate(movies.data.date)}</a
        >
      </time>
    </div>
    <div class="now">
      <p>
        {
          page.data.map((movie) => (
            <a href={`/images/posts/${movie.review}.jpg`}>
              <Image
                src={import(`../../../assets/images/posts/${movie.review}.png`)}
                alt={`${movie.alttext}`}
              />
            </a>
          ))
        }
      </p>
    </div>
    <p class="now">
      <a href="/reviews">Back to Reviews Page</a>
    </p>
    {
      page.lastPage > 1 && (
        <Pagination
          page={page}
          urlPattern="/reviews/movies/{}"
          firstPageUrl="/reviews/movies/1"
        />
      )
    }
  </article>
</Base>

<style>
  h4 {
    font-style: italic;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  div.time {
    margin-top: 2.5rem;
  }
  .bullet {
    margin: 0 1rem;
  }
</style>
