---
import { getEntry, render } from "astro:content";
import Base from "../../../layouts/Base.astro";
import { modifieddate } from "../../../components/utilities/DateFormat.js";
import CalendarFillIcon from "../../../components/icons/CalendarFillIcon.astro";
import Pagination from "@philnash/astro-pagination";
import { Image } from "astro:assets";
import moviesList from "../../../data/reviews/movies.json";
import site from "../../../data/site.json";

const movies = await getEntry("movies", "movies");

export async function getStaticPaths({ paginate }) {
  let movieList = Array.from(moviesList).sort((a, b) =>
    a.alttext.localeCompare(b.alttext),
  );
  return paginate(movieList, {
    pageSize: site.reviews.paginationSize,
  });
}
const { page } = Astro.props;

let title = movies.data.title;
let description = movies.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="review">
      {movies.data.description}<span class="mx-4">•</span><a href="/reviews"
        >Back to Reviews Page</a
      >
    </p>
    <div class="text-[0.8em] text-dates font-bold mb-6">
      <CalendarFillIcon size="1em" fill="var(--dates)" />
      <time datetime={movies.data.date}>
        <a href={`/${movies.id}`} class="text-dates"
          >Last updated {modifieddate(movies.data.date)}</a
        >
      </time>
    </div>
    <div class="review">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-[95%] my-10 mx-auto"
      >
        {
          page.data.map((movie) => (
            <>
              <span hidden>{`${movie.alttext}`}</span>
              <a href={`/images/posts/${movie.review}.jpg`} class="block">
                <Image
                  src={
                    import(`../../../assets/images/posts/${movie.review}.png`)
                  }
                  alt={`${movie.alttext}`}
                  class="review-image"
                />
              </a>
            </>
          ))
        }
      </div>
    </div>
    {
      page.lastPage > 1 && (
        <Pagination
          page={page}
          urlPattern="/reviews/movies/{}"
          firstPageUrl="/reviews/movies/1"
          windowSize={3}
        />
      )
    }
    <p class="review">
      <a href="/reviews">Back to Reviews Page</a>
    </p>
  </article>
</Base>

<style>
  h4 {
    font-style: italic;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  .review-image {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    margin: 0 !important;
  }
</style>
