---
import { getEntry, render } from "astro:content";
import Base from "../../../layouts/Base.astro";
import { modifieddate } from "../../../components/utilities/DateFormat.js";
import CalendarFillIcon from "../../../components/icons/CalendarFillIcon.astro";
import { Image } from "astro:assets";
import moviesList from "../../../data/reviews/movies.json";

let movieList = Array.from(moviesList);

const movies = await getEntry("movies", "movies");

let title = movies.data.title;
let description = movies.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="now">{movies.data.description}</p>
    <div class="time">
      <CalendarFillIcon />
      <time datetime={movies.data.date}>
        <a href={`/${movies.id}`}
          >Last updated {modifieddate(movies.data.date)}</a
        >
      </time>
    </div>
    <div class="now">
      <p>
        {
          movieList.map((movie) => (
            <a href={`/images/posts/${movie.review}.jpg`}>
              <Image
                src={import(`../../../assets/images/posts/${movie.review}.png`)}
                alt={`${movie.alttext}`}
              />
            </a>
          ))
        }
      </p>
    </div>
  </article>
</Base>

<style>
  h4 {
    font-style: italic;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  div.time {
    margin-top: 2.5rem;
  }
</style>
