---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import { slugify } from "../../components/utilities/StringFormat.js";
import { deslugify } from "../../components/utilities/StringFormat.js";
import Base from "../../layouts/Base.astro";
import SeriesList from "../../components/SeriesList.astro";

export async function getStaticPaths({}) {
  const allPosts = await getCollection("posts");
  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  );
  const allNames = new Set();
  sortedPosts.map((post) => {
    post.data.series && allNames.add(slugify(post.data.series));
  });

  return Array.from(allNames).map((name) => {
    return {
      params: { name },
      props: {
        posts: sortedPosts,
      },
    };
  });
}

const { posts } = Astro.props;
const { name } = Astro.params;

let title = deslugify(name);
let description = "Posts in " + title + " series.";
---

<Base title={title} description={description}>
  <article data-pagefind-ignore>
    <span id="series-list">
      <h1>
        <Icon name="mdi:plus-box-multiple" />
        <a href={`/series/${name}`}>{title} Series</a>
      </h1>
      <div class="series">
        <SeriesList series={title} posts={posts} />
      </div>
      <p class="series-link">
        <a href="/series"
          ><Icon name="mdi:plus-circle-multiple" /> Browse all series</a
        >
      </p>
    </span>
  </article>
</Base>
<style>
  div.series {
    margin: 3em 1em;
  }
  span#series-list [astro-icon="mdi:plus-box-multiple"] {
    width: 1.5em;
    margin: 0 0.3em -0.5em 0;
  }
  p.series-link {
    margin: 1.5em;
  }
  [astro-icon="mdi:plus-circle-multiple"] {
    width: 1em;
    margin-bottom: -0.15em;
  }
</style>
