---
import { getCollection } from "astro:content";
import { slugify } from "../../components/utilities/StringFormat.js";
import { deslugify } from "../../components/utilities/StringFormat.js";
import Base from "../../layouts/Base.astro";
import SeriesList from "../../components/SeriesList.astro";

export async function getStaticPaths({}) {
  const allPosts = await getCollection("posts");
  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  );
  const allNames = new Set();
  sortedPosts.map((post) => {
    post.data.series && allNames.add(slugify(post.data.series));
  });

  return Array.from(allNames).map((name) => {
    return {
      params: { name },
      props: {
        posts: sortedPosts,
      },
    };
  });
}

const { posts } = Astro.props;
const { name } = Astro.params;

let title = deslugify(name);
let description = "Posts in " + title + " series.";
---

<Base title={title} description={description}>
  <article data-pagefind-ignore>
    <span>
      <h1>
        <a href={`/series/${name}`}>{title} Series</a>
      </h1>
      <div class="my-12 mx-4 last-of-type:mb-0">
        <SeriesList series={title} posts={posts} />
      </div>
      <p class="my-6 mx-0">
        <a href="/series">Browse all series</a>
      </p>
    </span>
  </article>
</Base>
