---
import Base from "../layouts/Base.astro";
import Post from "../components/Post.astro";
import Pager from "../components/Pager.astro";
import { getCollection } from "astro:content";
import site from "../data/site.json";

export async function getStaticPaths({ paginate }) {
  let posts = await getCollection("posts");

  posts = posts.sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  );

  return paginate(posts, {
    pageSize: site.posts.paginationSize,
  });
}
const { page } = Astro.props;

const title = site.title;
const description = `Posts Page ${page.currentPage}`;
---

<Base title={title} description={description}>
  <section aria-label="Post list" data-pagefind-ignore>
    {
      page.data.map((post, index) => {
        return <Post post={post} />;
      })
    }
    <Pager page={page} />
  </section>
</Base>
