---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import Base from "../layouts/Base.astro";
import Search from "../components/Search.astro";
import TagCloud from "../components/TagCloud.astro";
import path from "path";
import { postdate } from "../components/utilities/DateFormat.js";
import { titleCase } from "../components/utilities/StringFormat.js";
import site from "../data/site.json";

let allPosts = await getCollection("posts");
allPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const indexPosts = allPosts.slice(0, 5);

let title = site.title;
let description = site.description;
---

<Base title={title} description={description}>
  <article>
    <div class="blurb">
      <div class="divider">
        <Icon name="openmoji:apple" /><Icon name="ic:twotone-laptop-mac" /><Icon
          name="openmoji:apple"
        />
      </div>
      <p>
        <b>Hi!</b> I'm <b><a href="/about">Scott Willsey</a></b>. I <a href="/1"
          >write about computing related topics</a
        > on this site. You can use the <a href="/search">site search</a> to
        find things I've written about, or click the <a href="/1">posts link</a>
         to browse. <i
          >There are also <a href="/tags">tags</a>
          <Icon name="uiw:tags" /> and <a href="/series">series!</a>
          <Icon name="mdi:plus-box-multiple" /></i
        >
      </p>
      <p>
        Most of what I write about here is <Icon name="openmoji:apple" /><a
          href="/tags/mac/"
          ">Mac</a
        > or web related. I like to talk about automation, software tools, and
        web platforms like <Icon name="openmoji:rocket" /><a
          href="https://astro.build"
          target="_blank">Astro</a
        >.
      </p>
    </div>
  </article>

  <article>
    <span data-pagefind-ignore>
      <h1>
        <Icon name="mdi:book-edit-outline" /><a href="/1">Latest Posts</a>
      </h1>
      <section class="blog-post-list" aria-label="Blog post list">
        {
          indexPosts.map((post) => (
            <header>
              <h2>
                <a
                  href={
                    new URL(
                      path.join(site.posts.path, post.slug),
                      site.url,
                    )
                  }
                >
                  {titleCase(post.data.title)}
                </a>
              </h2>
              <div class="time">
                <Icon pack="bi" name="calendar2-week-fill" />
                <time datetime={post.data.date}>
                  <a
                    href={
                      new URL(
                        path.join(site.posts.path, post.slug),
                        site.url,
                      )
                    }
                  >
                    {postdate(post.data.date)}
                  </a>
                </time>
              </div>
              <div class="description">
                <p>{post.data.description}</p>
              </div>
            </header>
          ))
        }
        <p class="posts-link">
          <a href="/1"><Icon name="ep:copy-document" /> Browse all posts</a>
        </p>
      </section>
    </span>
  </article>

  <div class="search">
    <Search />
  </div>

  <article data-pagefind-ignore>
    <div class="tagcloud">
      <span><Icon name="uiw:tags" />Some Tags</span>
      <TagCloud showCount="true" displayNumber="11" />
    </div>
  </article>
</Base>
<style>
  article {
    margin-bottom: 0;
  }
  div.blurb b:first-of-type {
    font-size: 2em;
    margin-right: 0.5rem;
    line-height: 95%;
  }
  h1 {
    margin-left: 2rem;
  }
  div.blurb {
    background-color: var(--surface-menu);
    border: 1px solid var(--brand);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  .divider {
    margin: 1rem auto -1rem;
    width: fit-content;
  }
  .divider [astro-icon] {
    width: 1.5rem;
    margin: 0.25rem;
    color: var(--brand);
  }
  div.blurb p:nth-child(3) [astro-icon] {
    width: 1.5em;
    margin-bottom: -0.333rem;
  }
  div.search {
    margin: 3rem auto;
  }
  [astro-icon="openmoji:label"] {
    width: 1.25em;
    margin-bottom: -0.3em;
  }
  [astro-icon="uiw:tags"] {
    width: 1em;
    margin-bottom: -0.15em;
  }
  [astro-icon="mdi:plus-box-multiple"] {
    width: 1em;
    margin-bottom: -0.15em;
  }
  [astro-icon="bi:calendar2-week-fill"] {
    width: 0.75em;
  }
  div.tagcloud [astro-icon="uiw:tags"] {
    width: 3em;
    margin-right: 0.5em;
  }
  header {
    margin-bottom: 3rem;
  }
  .blog-post-list {
    background-color: var(--surface-menu);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  p.posts-link {
    width: fit-content;
    margin: 3rem 2rem 2rem;
  }
  p.posts-link a {
    color: var(--accent1);
    font-size: 2rem;
  }
  [astro-icon="mdi:book-edit-outline"] {
    width: 1em;
    margin: 0 0.5em -0.175em 0;
  }
  [astro-icon="ep:copy-document"] {
    width: 2rem;
    margin-bottom: -0.25rem;
    color: var(--accent1);
  }
</style>
