---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import Search from "../components/Search.astro";
import { postdate } from "../components/utilities/DateFormat.js";
import { titleCase } from "../components/utilities/StringFormat.js";
import site from "../data/site.json";
import AppleIcon from "../components/icons/AppleIcon.astro";
import MessageEditIcon from "../components/icons/MessageEditIcon.astro";
import PostLinkIcon from "../components/icons/PostLinkIcon.astro";
import CopyIcon from "../components/icons/CopyIcon.astro";
import CalendarIcon from "../components/icons/CalendarFillIcon.astro";

let allPosts = await getCollection("posts");
allPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const indexPosts = allPosts.slice(0, 5);

let title = site.title;
let description = site.description;
---

<Base title={title} description={description}>
  <article>
    <div class="blurb">
      <p>
        I write about <a href="/1">computing related topics</a>. You can <a
          href="/search">search</a
        > or <a href="/1">browse</a> this site. Most of what I write about here is
        <AppleIcon /><a href="/tags/mac/" ">Mac</a> or web related.
        <a href="/now">Here</a>
        is what I'm up to <a href="/now">now</a>, and <a href="/use">here</a> is
        what I <a href="/uses">use</a>.
      </p>
    </div>
  </article>

  <div class="search">
    <Search />
  </div>

  <article>
    <span data-pagefind-ignore>
      <h1>
        <MessageEditIcon /><a href="/1"
          ><span class="posts-title">Latest Posts</span></a
        >
      </h1>
      <section class="blog-post-list" aria-label="Blog post list">
        {
          indexPosts.map((post) => (
            <header>
              <h2>
                <a href={`/${post.slug}`}>
                  {post.data.link ? <PostLinkIcon /> : ""}
                  {titleCase(post.data.title)}
                </a>
              </h2>
              <div class="time">
                <CalendarIcon />
                <time datetime={post.data.date}>
                  <a href={`/${post.slug}`}>{postdate(post.data.date)}</a>
                </time>
              </div>
              <div class="description">
                <p>{post.data.description}</p>
              </div>
            </header>
          ))
        }
        <p class="posts-link">
          <a href="/1"><CopyIcon /> Browse all posts</a>
        </p>
      </section>
    </span>
  </article>
</Base>
<style>
  article {
    margin-bottom: 0;
  }
  h1 {
    margin-left: 2rem;
  }
  div.blurb {
    background-color: var(--surface-menu);
    border: 1px solid var(--brand);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  div.search {
    margin: 3rem auto;
  }
  span.posts-title {
    color: var(--hyperlink);
  }
  header {
    margin-bottom: 3rem;
  }
  .blog-post-list {
    background-color: var(--surface-menu);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  p.posts-link {
    width: fit-content;
    margin: 3rem 2rem 2rem;
  }
  p.posts-link a {
    color: var(--hyperlink);
    font-size: 2rem;
  }
</style>
