---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Base from "../layouts/Base.astro";
import Search from "../components/Search.astro";
import { postdate } from "../components/utilities/DateFormat.js";
import { titleCase } from "../components/utilities/StringFormat.js";
import site from "../data/site.json";

let allPosts = await getCollection("posts");
allPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const indexPosts = allPosts.slice(0, 5);

let title = site.title;
let description = site.description;
---

<Base title={title} description={description}>
  <article>
    <div class="blurb">
      <p>
        I write about <a href="/1">computing related topics</a>. You can <a
          href="/search">search</a
        > or click the <a href="/1">posts link</a>
        to browse. Most of what I write about here is <Icon
          name="openmoji:apple"
        /><a href="/tags/mac/" ">Mac</a> or web related. <a href="/now">Here</a>
        is what I'm up to <a href="/now">now</a>.
      </p>
    </div>
  </article>

  <div class="search">
    <Search />
  </div>

  <article>
    <span data-pagefind-ignore>
      <h1>
        <Icon name="mdi:book-edit-outline" /><a href="/1"
          ><span class="posts-title">Latest Posts</span></a
        >
      </h1>
      <section class="blog-post-list" aria-label="Blog post list">
        {
          indexPosts.map((post) => (
            <header>
              <h2>
                <a href={`/${post.slug}`}>
                  {post.data.link ? <Icon name="ion:ios-link" /> : ""}
                  {titleCase(post.data.title)}
                </a>
              </h2>
              <div class="time">
                <Icon name="bi:calendar2-week-fill" />
                <time datetime={post.data.date}>
                  <a href={`/${post.slug}`}>{postdate(post.data.date)}</a>
                </time>
              </div>
              <div class="description">
                <p>{post.data.description}</p>
              </div>
            </header>
          ))
        }
        <p class="posts-link">
          <a href="/1"><Icon name="ep:copy-document" /> Browse all posts</a>
        </p>
      </section>
    </span>
  </article>
</Base>
<style>
  article {
    margin-bottom: 0;
  }
  h1 {
    margin-left: 2rem;
  }
  div.blurb {
    background-color: var(--surface-menu);
    border: 1px solid var(--brand);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  [data-icon="openmoji:apple"] {
    font-size: 1.5em;
    margin-bottom: -0.4rem;
  }
  .divider {
    margin: 1rem auto -1rem;
    width: fit-content;
  }
  .divider [data-icon] {
    font-size: 1.5rem;
    margin: 0.25rem;
    color: var(--brand);
  }
  div.search {
    margin: 3rem auto;
  }
  span.posts-title {
    color: var(--hyperlink);
  }
  [data-icon="bi:calendar2-week-fill"] {
    font-size: 0.75em;
    margin-bottom: -0.0333rem;
  }
  header {
    margin-bottom: 3rem;
  }
  .blog-post-list {
    background-color: var(--surface-menu);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  p.posts-link {
    width: fit-content;
    margin: 3rem 2rem 2rem;
  }
  p.posts-link a {
    color: var(--hyperlink);
    font-size: 2rem;
  }
  [data-icon="mdi:book-edit-outline"] {
    font-size: 1em;
    margin: 0 0.25em -0.075em 0;
    color: var(--hyperlink);
  }
  [data-icon="ep:copy-document"] {
    font-size: 2rem;
    margin: 0 0.25rem -0.333rem 0;
    color: var(--hyperlink);
  }
  [data-icon="ion:ios-link"] {
    width: 1em;
    margin-bottom: -0.5rem;
    background-color: var(--surface-menu);
    padding: 0.25rem;
    border-radius: 50%;
  }
</style>
