---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import SearchBar from "../components/Search.astro";
import { postdate } from "../components/utilities/DateFormat.js";
import { titleCase } from "../components/utilities/StringFormat.js";
import site from "../data/site.json";
import AppleIcon from "../components/icons/AppleIcon.astro";
import CalendarIcon from "../components/icons/CalendarFillIcon.astro";
import PostLinkIcon from "../components/icons/PostLinkIcon.astro";

let allPosts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
allPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const indexPosts = allPosts.slice(0, 5);

let title = site.title;
let description = site.description;
---

<Base title={title} description={description}>
  <div class="blurb">
    <p>
      I write about <a href="/1">computing related topics</a>. You can <a
        href="/search">search</a
      > or <a href="/1">browse</a> this site. Most of what I write about here is
      <AppleIcon /><a href="/tags/mac/" ">Mac</a> or web related.
      <a href="/now">Here</a>
      is what I'm up to <a href="/now">now</a>, and <a href="/uses">here</a> is what
      I <a href="/uses">use</a>.
    </p>
  </div>

  <div class="search-bar">
    <SearchBar />
  </div>

  <span data-pagefind-ignore="all">
    <h1>
      <a href="/1"><span class="posts-title">Latest Posts</span></a>
    </h1>
    <section class="blog-post-list" aria-label="Blog post list">
      {
        indexPosts.map((post) => (
          <header>
            <h2>
              <a href={`/${post.id}`}>
                {post.data.link ? (
                  <span data-pagefind-ignore>
                    <PostLinkIcon />
                  </span>
                ) : (
                  ""
                )}
                {titleCase(post.data.title)}
              </a>
            </h2>
            <div class="time">
              <CalendarIcon />
              <time datetime={post.data.date}>
                <a href={`/${post.id}`}>{postdate(post.data.date)}</a>
              </time>
            </div>
            <div class="description">
              <p>{post.data.description}</p>
            </div>
          </header>
        ))
      }
      <p class="posts-link">Browse all posts</p>
    </section>
  </span>
</Base>

<style>
  article {
    margin-bottom: 0;
  }
  article > span > h1 {
    display: inline;
  }
  h1 {
    margin-left: 2rem;
  }
  div.blurb {
    background-color: var(--surface-menu);
    border: 1px solid var(--brand);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
  }
  div.search-bar {
    margin: 3rem auto 1rem;
  }
  @media only screen and (max-width: 460px) {
    div.search-bar {
      margin: 2rem auto;
    }
  }
  span.posts-title {
    color: var(--hyperlink);
  }
  @media only screen and (max-width: 460px) {
    span.posts-title {
      font-size: 0.8em;
    }
  }
  header {
    margin-bottom: 3rem;
  }
  .blog-post-list {
    background-color: var(--surface-menu);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  p.posts-link {
    width: fit-content;
    margin: 3rem 2rem 2rem;
  }
  p.posts-link a {
    color: var(--hyperlink);
    font-size: 2rem;
  }
</style>
