---
import { getEntry, render } from "astro:content";
import Spotlight from "../components/Spotlight.astro";
import Base from "../layouts/Base.astro";
import { modifieddate } from "../components/utilities/DateFormat.js";
import CalendarFillIcon from "../components/icons/CalendarFillIcon.astro";

const links = await getEntry("links", "links");
const { Content } = await render(links);

let title = links.data.title;
let description = links.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="now">{description}</p>
    <div class="text-[0.8em] text-dates font-bold">
      <CalendarFillIcon size="1em" fill="var(--dates)" />
      <time datetime={links.data.date}>
        <a href={`/${links.id}`} class="text-dates"
          >Last updated {modifieddate(links.data.date)}</a
        >
      </time>
    </div>
    <div>
      <Spotlight />
    </div>
    <div class="now">
      <Content />
    </div>
  </article>
</Base>
