---
import { getEntry, render } from "astro:content";
import Base from "../layouts/Base.astro";
import { modifieddate } from "../components/utilities/DateFormat.js";
import CalendarFillIcon from "../components/icons/CalendarFillIcon.astro";

const now = await getEntry("now", "now");
const { Content } = await render(now);

let title = now.data.title;
let description = now.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="now">
      The <a href="https://nownownow.com/about">"now page"</a> concept comes from
      an idea by <a href="https://sive.rs">Derek Sivers</a> to have people communicate
      what they're focused on <b>now</b> at this point in their lives.
    </p>
    <p class="now">
      <b
        ><i
          >Find all past media reviews on my <a href="/reviews">Reviews page</a
          >.</i
        ></b
      >
    </p>
    <div class="text-[0.8em] text-dates font-bold mb-6">
      <CalendarFillIcon fill="var(--dates)" />
      <time datetime={now.data.date}>
        <a href={`/${now.id}`} class="text-dates"
          >Last updated {modifieddate(now.data.date)}</a
        >
      </time>
    </div>
    <div class="now">
      <Content />
    </div>
  </article>
</Base>
