---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Base from "../layouts/Base.astro";
import { modifieddate } from "../components/utilities/DateFormat.js";

const pins = await getEntry("pins", "pins");
const { Content, remarkPluginFrontmatter } = await pins.render();

let title = pins.data.title;
let description = pins.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="now">{description}</p>
    <div class="time">
      <Icon name="bi:calendar2-week-fill" />
      <time datetime={pins.data.date}>
        <a href={`/${pins.slug}`}>Last updated {modifieddate(pins.data.date)}</a
        >
      </time>
    </div>
    <div class="now">
      <Content />
    </div>
  </article>
</Base>

<style>
  h4 {
    font-style: italic;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  div.time {
    margin-top: 2.5rem;
  }
  [data-icon="bi:calendar2-week-fill"] {
    font-size: 0.75rem;
    margin-bottom: -0.05rem;
  }
</style>
