---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import { modifieddate } from "../components/utilities/DateFormat.js";
import CalendarFillIcon from "../components/icons/CalendarFillIcon.astro";

import mac from "../assets/images/posts/MacBrighter-72C30F73-DD6D-4E9F-98E0-6D9BC617F493.png";
import keychron from "../assets/images/posts/Keychron-Q1-encoder-D633B1F6-73A7-472F-90C9-680982767284.png";
import mbp from "../assets/images/posts/Mbp-F16720DE-379E-4AEC-B296-47E897C0280B.jpeg";

const bigmac =
  "/images/posts/MacBrighter-72C30F73-DD6D-4E9F-98E0-6D9BC617F493.jpg";
const bigkeychron =
  "/images/posts/Keychron-Q1-encoder-D633B1F6-73A7-472F-90C9-680982767284.jpg";
const bigmbp = "/images/posts/Mbp-F16720DE-379E-4AEC-B296-47E897C0280B.jpg";

const uses = await getEntry("uses", "uses");
const { Content } = await uses.render();

let title = uses.data.title;
let description = uses.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <div class="use-header">
      <a href={bigmac}
        ><Image
          src={mac}
          height="150"
          densities={[2, 3]}
          alt="My computer desk with MacBook Pro and Apple Studio Display"
        /></a
      >
      <a href={bigkeychron}
        ><Image
          src={keychron}
          height="150"
          densities={[2, 3]}
          alt="Keychron Q1"
        /></a
      >
      <a href={bigmbp}
        ><Image
          src={mbp}
          height="150"
          densities={[2, 3]}
          alt="2021 M1 Pro MacBook Pro 14 in."
        /></a
      >
    </div>
    <div class="time">
      <CalendarFillIcon />
      <time datetime={uses.data.date}>
        <a href={`/${uses.slug}`}>Last updated {modifieddate(uses.data.date)}</a
        >
      </time>
    </div>
    <div class="uses">
      <Content />
    </div>
  </article>
</Base>

<style>
  div.use-header {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
  }
  div.use-header {
    background-color: var(--surface-menu);
    border: 1px solid var(--brand);
  }
  div.use-header img {
    min-height: 150px;
  }
  div.uses {
    /* background-color: var(--surface-menu); */
    padding: 0.1em 2rem;
    margin: 2.25em 0;
    /* border-radius: 10px; */
  }
  div.item {
    margin-bottom: 5rem;
  }
  @media only screen and (max-width: 699px) {
    div.use-header {
      flex-direction: column;
    }
    div.uses {
      padding: 0.1em 0.5rem;
    }
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  div.time {
    margin-top: 2.5rem;
  }
  [data-icon="bi:calendar2-week-fill"] {
    font-size: 0.75rem;
    margin-bottom: -0.05rem;
  }
</style>
