---
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import { modifieddate } from "../components/utilities/DateFormat.js";
import CalendarFillIcon from "../components/icons/CalendarFillIcon.astro";

import mac from "../assets/images/posts/ComputerDesk-6A955660-4D5E-4B10-8A96-F64C2C55673E.png";
import keychron from "../assets/images/posts/Keychron-Q1-encoder-D633B1F6-73A7-472F-90C9-680982767284.png";
import mbp from "../assets/images/posts/BBP-8B00109B-1BD2-46E3-81C5-0996E53D5136.png";

const bigmac =
  "/images/posts/ComputerDesk-6A955660-4D5E-4B10-8A96-F64C2C55673E.jpg";
const bigkeychron =
  "/images/posts/Keychron-Q1-encoder-D633B1F6-73A7-472F-90C9-680982767284.jpg";
const bigmbp = "/images/posts/BBP-8B00109B-1BD2-46E3-81C5-0996E53D5136.jpg";

const uses = await getEntry("uses", "uses");
const { Content } = await render(uses);

let title = uses.data.title;
let description = uses.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <div
      class="flex flex-row flex-wrap gap-8 justify-center items-center mx-auto my-10 p-8 rounded-lg font-normal text-[1.2em] italic bg-[var(--surface-menu)] border border-[var(--brand)] max-[699px]:flex-col"
    >
      <a href={bigmac}
        ><Image
          src={mac}
          height="150"
          densities={[2, 3]}
          alt="My computer desk with MacBook Pro and Apple Studio Display"
          class="min-h-[150px]"
        /></a
      >
      <a href={bigkeychron}
        ><Image
          src={keychron}
          height="150"
          densities={[2, 3]}
          alt="Keychron Q1"
          class="min-h-[150px]"
        /></a
      >
      <a href={bigmbp}
        ><Image
          src={mbp}
          height="150"
          densities={[2, 3]}
          alt="2021 M1 Pro MacBook Pro 14 in."
          class="min-h-[150px]"
        /></a
      >
    </div>
    <div class="text-[0.8em] text-dates font-bold my-12">
      <CalendarFillIcon fill="var(--dates)" />
      <time datetime={uses.data.date}>
        <a href={`/${uses.id}`} class="text-dates"
          >Last updated {modifieddate(uses.data.date)}</a
        >
      </time>
    </div>
    <div
      class="uses px-8 py-1 max-[699px]:px-2 [&_img]:max-w-[350px] max-[440px]:[&_img]:max-w-[300px] [&_img]:block [&_img]:ml-2 [&_p]:text-left"
    >
      <Content />
    </div>
  </article>
</Base>
