---
import { year } from "../components/utilities/DateFormat.js";
import site from "../data/site.json";
import BlueSkyIcon from "../components/icons/FooterBlueSky.astro";
import GitHubIcon from "./icons/FooterGitHubIcon.astro";
import MastodonIcon from "./icons/FooterMastodonIcon.astro";
import RssIcon from "./icons/FooterRssIcon.astro";
---

<div class="max-w-[90ch] mx-auto my-0 p-8 flex flex-col items-center content-center justify-center">
  <div class="footer-links">
    <a href={site.social.bluesky}><BlueSkyIcon /></a>
    <a href={site.social.mastodon}><MastodonIcon /></a>
    <a href={site.social.github}><GitHubIcon /></a>
    <a href="/rss.xml"><RssIcon /></a>
  </div>
  <div class="text-[0.6rem] font-bold p-0 m-0">
    &copy; {year}&nbsp;{site.name}
  </div>
</div>
