---
import { year } from "../components/utilities/DateFormat.js";
import site from "../data/site.json";
import BlueSkyIcon from "../components/icons/FooterBlueSky.astro";
import GitHubIcon from "./icons/FooterGitHubIcon.astro";
import MastodonIcon from "./icons/FooterMastodonIcon.astro";
import RssIcon from "./icons/FooterRssIcon.astro";
---

<div class="footer">
  <div class="footer-links">
    <a href={site.social.bluesky}><BlueSkyIcon /></a>
    <a href={site.social.mastodon}><MastodonIcon /></a>
    <a href={site.social.github}><GitHubIcon /></a>
    <a href="/rss.xml"><RssIcon /></a>
  </div>
  <div class="astrobuild">
    <a href="https://astro.build">
      <img
        src="https://astro.badg.es/v2/built-with-astro/small.svg"
        alt="Built with Astro"
        width="192"
        height="32"
      />
    </a>
  </div>
  <div class="footer-copyright">
    &copy; {year}&nbsp;{site.name}
  </div>
</div>

<style>
  .footer {
    max-width: 90ch;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .footer-page-links {
    font-size: 0.9rem;
  }

  .astrobuild img {
    margin: 2em 0 1em;
  }

  .footer-copyright {
    color: var(--accent3);
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  div.astrobuild {
    padding: 0;
  }
</style>
