---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { postdate } from "../components/utilities/DateFormat.js";
import { slugify } from "./utilities/StringFormat.js";
import PostTitle from "./PostTitle.astro";
import CalendarFillIcon from "./icons/CalendarFillIcon.astro";
import { render } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<article>
  <header>
    <h1>
      <PostTitle post={post} />
    </h1>
    <div class="time">
      <CalendarFillIcon />
      <time datetime={post.data.date}>
        <a href={`/${post.id}`}>
          {postdate(post.data.date)}
        </a>
      </time>
    </div>
    {
      post.data.cover ? (
        <Image src={post.data.cover} alt={post.data.coverAlt} width={950} />
      ) : null
    }
  </header>
  {
    post.data.series ? (
      <h3>
        Part of the{" "}
        <i>
          <a href={`/series/${slugify(post.data.series)}/`}>
            {post.data.series}
          </a>
        </i>{" "}
        series
      </h3>
    ) : null
  }
  <Content />
</article>
