---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import { postdate } from "../components/utilities/DateFormat.js";
import { slugify } from "./utilities/StringFormat.js";
import PostTitle from "./PostTitle.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<article>
  <header>
    <h1>
      <PostTitle post={post} />
    </h1>
    <div class="time">
      <Icon pack="bi" name="calendar2-week-fill" />
      <time datetime={post.data.date}>
        <a href={`/${post.slug}`}>
          {postdate(post.data.date)}
        </a>
      </time>
    </div>
    {
      post.data.cover ? ( <Image src={post.data.cover} alt={post.data.coverAlt} width={950} /> ) : null
    }
  </header>
  {
    post.data.series ? (<h3>Part of the <i><a href={`/series/${slugify(post.data.series)}/`}>{post.data.series}</a> series</i></h3>) : null
  }
  <Content />
</article>
<style>
  article {
    background-color: var(--post-bg);
    padding: 0.1rem 1.5rem;
    border-radius: 0.5rem;
  }
  @media only screen and (max-width: 500px) {
    article {
      padding: 0.1rem 0.5rem;
    }
  }
</style>
