---
import { postdate } from "./utilities/DateFormat.js";
import { slugify } from "./utilities/StringFormat.js";
import { titleCase } from "./utilities/StringFormat.js";
import CalendarIcon from "./icons/CalendarFillIcon.astro";

const { series, posts } = Astro.props;
const filteredPosts = posts.filter(
  (post) =>
    post.data.series !== undefined &&
    slugify(post.data.series) === slugify(series),
);
---

<section aria-label="Series list" class="mb-6 last:mb-0">
  <h2><a href={`/series/${slugify(series)}/`}>{series}</a></h2>
  <header class="bg-surface-menu rounded-lg p-2 px-8">
    {
      filteredPosts
        .sort((a, b) => a.data.date - b.data.date)
        .map((post) => (
          <>
            <h4
              class="
    my-[0.3em]"
            >
              <a href={`/${post.id}`}>{titleCase(post.data.title)}</a>
            </h4>
            <div class="cal">
              <CalendarIcon size="0.75em" fill="var(--dates)" margin="0" />
              <time
                datetime={post.data.date}
                class="text-dates font-bold text-[0.5em]"
              >
                <a href={`/${post.id}`} class="text-dates">
                  {postdate(post.data.date)}
                </a>
              </time>
            </div>
            <div class="description text-[0.75em] my-[0.3em] mb-[2em] last:mb-2">
              {post.data.description}
            </div>
          </>
        ))
    }
  </header>
</section>
