---
import { getCollection } from "astro:content";
import { postdate } from "./utilities/DateFormat.js";
import { titleCase } from "./utilities/StringFormat.js";
import SearchBar from "./Search.astro";
import CalendarIcon from "./icons/CalendarFillIcon.astro";
import PostLinkIcon from "./icons/PostLinkIcon.astro";
import AppleIcon from "./icons/AppleIcon.astro";

let allPosts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
allPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const indexPosts = allPosts.slice(0, 5);
---

<div class="blurb">
  <h1>
    <a href="/about"><div class="about-title">About</div></a>
  </h1>
  <p>
    I write about <a href="/1">computing related topics</a>. You can <a
      href="/search">search</a
    > or <a href="/1">browse</a> this site. Most of what I write about here is
    <AppleIcon /><a href="/tags/mac/" ">Mac</a> or web related.
    <a href="/now">Here</a>
    is what I'm up to <a href="/now">now</a>, and <a href="/uses">here</a> is what
    I <a href="/uses">use</a>.
  </p>
</div>
<div class="search-bar">
  <SearchBar />
</div>
<span data-pagefind-ignore="all">
  <h1>
    <a href="/1"><div class="posts-title">Latest Posts</div></a>
  </h1>
  <section class="blog-post-list" aria-label="Blog post list">
    {
      indexPosts.map((post) => (
        <header>
          <h2>
            <a href={`/${post.id}`}>
              {post.data.link ? (
                <span data-pagefind-ignore>
                  <PostLinkIcon />
                </span>
              ) : (
                ""
              )}
              {titleCase(post.data.title)}
            </a>
          </h2>
          <div class="time">
            <CalendarIcon />
            <time datetime={post.data.date}>
              <a href={`/${post.id}`}>{postdate(post.data.date)}</a>
            </time>
          </div>
        </header>
      ))
    }
    <p class="posts-link"><a href="/1">Browse all posts</a></p>
  </section>
</span>
<style>
  div.blurb {
    /* background-color: var(--surface-menu); */
    /* border-top: 1px dotted var(--brand);
    border-bottom: 1px dotted var(--brand); */
    /* border: 1px dotted var(--brand); */
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1rem;
  }
  div.blurb a {
    color: var(--hyperlink-blurb);
  }
  div.search-bar {
    margin: 2rem auto 0;
  }
  article {
    margin-bottom: 0;
  }
  h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  div.about-title,
  div.posts-title {
    color: var(--hyperlink);
    margin-left: 0.75em;
  }
  header {
    margin-bottom: 1.2rem;
  }
  .blog-post-list {
    background-color: var(--surface-menu);
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.8em;
  }
  .blog-post-list h2 {
    font-family: var(--font-body);
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
    color: var(--text1);
  }
  p.posts-link {
    text-align: center;
  }
  p.posts-link a {
    color: var(--hyperlink);
  }
  @media only screen and (max-width: 460px) {
    span.posts-title {
      font-size: 1em;
    }
    .blog-post-list h2 {
    }
    div.time,
    div.time a {
    }
  }
</style>
