---
import { Image } from "astro:assets";
import spotlight from "../data/spotlight.json";
import GlobeAsiaIcon from "./icons/GlobeAsiaIcon.astro";
---

<div
  class="bg-[var(--surface-menu)] my-12 px-8 py-2 border border-[var(--brand)] rounded-lg max-[500px]:px-4"
>
  <h1 id="CoolSiteSpotlight" class="mx-1 my-10">Cool Site Spotlight</h1>
  <div
    class="flex flex-row items-center gap-8 max-[799px]:flex-col max-[799px]:px-2 max-[799px]:gap-0"
  >
    <div class="shrink-0">
      <a href={spotlight.Site}>
        <Image
          src={import(`../assets/images/posts/${spotlight.Image}.png`)}
          width="300"
          densities={[2, 3]}
          alt={spotlight.Title}
        />
      </a>
    </div>
    <div class="flex-1 min-w-0 max-[500px]:text-[1rem]">
      <h2>
        <a href={spotlight.Site} class="text-[var(--hyperlink)]"
          >{spotlight.Title}</a
        >
      </h2>
      <p set:html={spotlight.Description.replaceAll("\n", "<br />")} />
      <p>
        <a href={spotlight.Site}><GlobeAsiaIcon fill="var(--hyperlink)" /></a>
        <a href={spotlight.Site} class="text-[var(--hyperlink)]"
          >{spotlight.Site}</a
        >
      </p>
    </div>
  </div>
  <div>
    <a
      href="/links#cool-sites-archive"
      class="inline-block text-[0.8em] italic text-[var(--brand)] ml-12 mb-8"
      >Cool Sites Archive</a
    >
  </div>
</div>
