---
import { Image } from "astro:assets";
import spotlight from "../data/spotlight.json";
import GlobeIcon from "../components/icons/GlobeIcon.astro";
---

<div class="spotlight">
  <h1 id="CoolSiteSpotlight">Cool Site Spotlight</h1>
  <div class="spotlight-details">
    <div>
      <a href={spotlight.Site}>
        <Image
          src={import(`../assets/images/posts/${spotlight.Image}.png`)}
          width="300"
          densities={[2, 3]}
          alt={spotlight.Title}
        />
      </a>
    </div>
    <div>
      <h4><a href={spotlight.Site}>{spotlight.Title}</a></h4>
      <p>{spotlight.Description}</p>
      <p>
        <a href={spotlight.Site}><GlobeIcon /></a>
        <a href={spotlight.Site}>{spotlight.Site}</a>
      </p>
    </div>
  </div>
  <div class="archive-link">
    <a href="/links#cool-sites-archive">Cool Sites Spotlight Archive</a>
  </div>
</div>

<style>
  .spotlight {
    background-color: var(--surface-menu);
    margin: 3em 0;
    padding: 0.5em 2em;
    border: 1px solid var(--brand);
    border-radius: 0.5rem;
  }
  .spotlight a {
    color: var(--hyperlink);
  }
  div.spotlight-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    white-space: pre-wrap;
  }
  div.archive-link a {
    display: inline-block;
    font-size: 0.8em;
    font-style: italic;
    color: var(--brand);
    margin: 0 0 2em 3em;
  }
  @media only screen and (max-width: 699px) {
    div.spotlight-details {
      flex-direction: column;
      padding: 0 0.5rem;
      gap: 0;
    }
  }
</style>
