---
import { getEntry, render } from "astro:content";
import Base from "../../../layouts/Base.astro";
import { modifieddate } from "../../../components/utilities/DateFormat.js";
import CalendarFillIcon from "../../../components/icons/CalendarFillIcon.astro";
import Pagination from "@philnash/astro-pagination";
import { Image } from "astro:assets";
import musicsList from "../../../data/reviews/music.json";
import site from "../../../data/site.json";

const music = await getEntry("music", "music");

export async function getStaticPaths({ paginate }) {
  let musicList = Array.from(musicsList).sort((a, b) =>
    a.alttext.localeCompare(b.alttext),
  );
  return paginate(musicList, {
    pageSize: site.reviews.paginationSize,
  });
}
const { page } = Astro.props;

let title = music.data.title;
let description = music.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="now">
      {music.data.description}<span class="bullet">•</span><a href="/reviews"
        >Back to Reviews Page</a
      >
    </p>
    <div class="time">
      <CalendarFillIcon />
      <time datetime={music.data.date}>
        <a href={`/${music.id}`}>Last updated {modifieddate(music.data.date)}</a
        >
      </time>
    </div>
    <div class="now">
      <p>
        {
          page.data.map((musicItem) => (
            <a href={`/images/posts/${musicItem.review}.jpg`}>
              <Image
                src={
                  import(`../../../assets/images/posts/${musicItem.review}.png`)
                }
                alt={`${musicItem.alttext}`}
              />
            </a>
          ))
        }
      </p>
    </div>
    {
      page.lastPage > 1 && (
        <Pagination
          page={page}
          urlPattern="/reviews/music/{}"
          firstPageUrl="/reviews/music/1"
        />
      )
    }
    <p class="now">
      <a href="/reviews">Back to Reviews Page</a>
    </p>
  </article>
</Base>

<style>
  h4 {
    font-style: italic;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  div.time {
    margin-top: 2.5rem;
  }
  .bullet {
    margin: 0 1rem;
  }
</style>
