---
import { getEntry, render } from "astro:content";
import Base from "../../../layouts/Base.astro";
import { modifieddate } from "../../../components/utilities/DateFormat.js";
import CalendarFillIcon from "../../../components/icons/CalendarFillIcon.astro";
import Pagination from "@philnash/astro-pagination";
import { Image } from "astro:assets";
import musicsList from "../../../data/reviews/music.json";
import site from "../../../data/site.json";

const music = await getEntry("music", "music");

export async function getStaticPaths({ paginate }) {
  let musicList = Array.from(musicsList).sort((a, b) =>
    a.alttext.localeCompare(b.alttext),
  );
  return paginate(musicList, {
    pageSize: site.reviews.paginationSize,
  });
}
const { page } = Astro.props;

let title = music.data.title;
let description = music.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="review">
      {music.data.description}<span class="mx-4">•</span><a href="/reviews"
        >Back to Reviews Page</a
      >
    </p>
    <div class="time mt-10">
      <CalendarFillIcon />
      <time datetime={music.data.date}>
        <a href={`/${music.id}`}>Last updated {modifieddate(music.data.date)}</a
        >
      </time>
    </div>
    <div class="review">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-[95%] my-10 mx-auto"
      >
        {
          page.data.map((musicItem) => (
            <>
              <span hidden>{`${musicItem.alttext}`}</span>
              <a href={`/images/posts/${musicItem.review}.jpg`} class="block">
                <Image
                  src={
                    import(
                      `../../../assets/images/posts/${musicItem.review}.png`
                    )
                  }
                  alt={`${musicItem.alttext}`}
                  class="review-image"
                />
              </a>
            </>
          ))
        }
      </div>
    </div>
    {
      page.lastPage > 1 && (
        <Pagination
          page={page}
          urlPattern="/reviews/music/{}"
          firstPageUrl="/reviews/music/1"
          windowSize={3}
        />
      )
    }
    <p class="review">
      <a href="/reviews">Back to Reviews Page</a>
    </p>
  </article>
</Base>

<style>
  h4 {
    font-style: italic;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  .review-image {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    margin: 0 !important;
  }
</style>
