---
import { getEntry, render } from "astro:content";
import Base from "../../../layouts/Base.astro";
import { modifieddate } from "../../../components/utilities/DateFormat.js";
import CalendarFillIcon from "../../../components/icons/CalendarFillIcon.astro";
import Pagination from "@philnash/astro-pagination";
import { Image } from "astro:assets";
import tvShowsList from "../../../data/reviews/tvshows.json";
import site from "../../../data/site.json";

const tvshows = await getEntry("tvshows", "tvshows");

export async function getStaticPaths({ paginate }) {
  let tvShowList = Array.from(tvShowsList).sort((a, b) =>
    a.alttext.localeCompare(b.alttext),
  );
  return paginate(tvShowList, {
    pageSize: site.reviews.paginationSize,
  });
}
const { page } = Astro.props;

let title = tvshows.data.title;
let description = tvshows.data.description;
---

<Base title={title} description={description}>
  <article>
    <h1>{title}</h1>
    <p class="review">
      {tvshows.data.description}<span class="bullet">•</span><a href="/reviews"
        >Back to Reviews Page</a
      >
    </p>
    <div class="time">
      <CalendarFillIcon />
      <time datetime={tvshows.data.date}>
        <a href={`/${tvshows.id}`}
          >Last updated {modifieddate(tvshows.data.date)}</a
        >
      </time>
    </div>
    <div class="review">
      <p>
        {
          page.data.map((tvshow) => (
            <a href={`/images/posts/${tvshow.review}.jpg`}>
              <Image
                src={
                  import(`../../../assets/images/posts/${tvshow.review}.png`)
                }
                alt={`${tvshow.alttext}`}
              />
            </a>
          ))
        }
      </p>
    </div>
    {
      page.lastPage > 1 && (
        <Pagination
          page={page}
          urlPattern="/reviews/tv/{}"
          firstPageUrl="/reviews/tv/1"
        />
      )
    }
    <p class="review">
      <a href="/reviews">Back to Reviews Page</a>
    </p>
  </article>
</Base>

<style>
  h4 {
    font-style: italic;
  }
  div.time,
  div.time a {
    font-size: 0.8em;
  }
  div.time {
    margin-top: 2.5rem;
  }
  .bullet {
    margin: 0 1rem;
  }
</style>
